<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table align="center" border="4">
		<tr>
		<th>項番</th>
		<th>ユーザー名</th>
		<th>内容</th>
		<th>日時</th>
		</tr>
<tr th:each="book : ${book}">
<td th:text="${book.id}"></td>
<td th:text="${book.name}"></td>
<td th:text="${book.naiyou}"></td>
<td th:text="${book.date}"></td>
<td><a th:href="'/edit/'+${book.id}">編集</a></td>
<td><a th:href="'/del/'+${book.id}">削除</a></td>
</tr>

	</table>
		  <center><a   href="/cleate">新規作成</a></center>
</body>
</html>